body {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: white;
    text-align: center;
    padding: 40px;
}

#container {
    padding: 50px 0px;
    width: 80vw;
    margin: auto;
    border: black 3px solid;
    border-radius: 15px;
    background-image: linear-gradient(160deg, white, gray);
    min-height: 70vh;
    box-shadow: 0px 0px 10px black;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

#container, .button {
    border: black 3px solid;
    border-radius: 15px;
}

.button {
    width: fit-content;
    padding: 10px;
    font-weight: bold;
    background-color: rgb(195, 195, 195);
}

#start-button {
    box-shadow: 0px 0px 5px black;
}

#timer {
    color: lime;
    font-size: 2em;
    font-weight: bolder;
    text-shadow: 0px 0px 10px lime;
    background-color: black;
    padding: 20px;
    border: rgb(74, 74, 74) solid 6px;
    border-radius: 10px;
    font-family: "BigBlue TerminalPlus";
    box-shadow: 0px 0px 20px black;
}

.button:hover {
    background-color: white;
}

@font-face {
    font-family: "BigBlue TerminalPlus";
    src: url(BigBlue_TerminalPlus.TTF);
}
