body {
    font-size: 1vw;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;

    margin: 0;
    padding: 30px 00px;
    background-color: #009edb
}

#container {
    width: 80vw;
    margin: auto;
    background-color: #f2f2f2;
    color: #222;
    padding: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

    border: #222 solid 3px;
    border-radius: 20px;
    box-shadow: black 0px 0px 14px;
}

#counter {
    background-color: #ddd;
    font-size: 5em;
    font-family: monospace;
    padding: 0px 10px;
    border: #999 solid 5px;
    border-radius: 0px;
    margin: 20px;
    color: #666;
}

button {
    border-radius: 0px;
    margin: 20px;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 1.5em;
    border: #555 solid 3px;
    border-radius: 20px;
    padding: 7px 10px;
    background-color: #ddd;
    box-shadow: #777 0px 0px 10px;
}

div > #times-list {
    font-size: 2em;
}

#logo {
    width: 20em;
}